.backgroundcol{
    
    text-align:left;
    background-color: #d3cece;
    -webkit-text-fill-color:#fafafa;
    height: 20rem;
    margin: 3rem;
    margin-top:0rem;
    margin-bottom: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 60%;
}
.nav{
    font-size: 120%;
}
.navbar{
    margin: 1rem;
}
.text{
    margin: 3rem;
    margin-top:0rem;
}