.backgroundcol{
    height: 60rem;
    margin: 1rem;
    text-align: center;
}
.background{
    background-image: url("./img/snowman.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    margin: 9rem;
    border: 8px #5c636e solid;
    margin-bottom: 5rem;
    margin-top: 3rem;
    border-radius: 15%;
}
.navbar{
    font-size: 120%;
    margin-bottom: 0rem;
    background-color: transparent;
    border-color: transparent;
}
.navbar li a{
    background-color: transparent !important;
    color: #ffffff !important;
}
.nav li a:focus{
    color: #393e46 !important;
}
.nav li a:hover{
    color: #393e46 !important;
}
.navbar li.focus a{
    color: #393e46 ;
}
.navbar li.active a{
    color: #393e46 !important;
}
.texts{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    -webkit-text-fill-color:#fafafa;
    align-items: center;
}
.navbar-brand{
    color:#ffffff !important;
}
ul.dropdown-menu {
    background-color: #f7f7f7;
    padding:0;
    width:22rem;
    border:none;
}
ul.dropdown-menu li a {
    color:#393e46 !important;
}
ul.dropdown-menu li{
    padding: 1.5rem;
    font-size:1.7rem;
}
ul.dropdown-menu li:hover{
    border: 4px solid #f8b500;
}
li.dropdown open:active{
    color: #393e46; 
}
