.section{
    height: 50rem;
    margin: 1rem;
    width: 40rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 9px #f8b500 solid;
    text-align: center; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
}
#section1{
    background-image: url("./img/shoes.png");
}
#section2{
    background-image: url("./img/street.JPG");
}
#section3{
    background-image: url("./img/louise.png");
}
#section4{
    background-image: url("./img/castle.png");
}

.content{
    margin: 5rem;
    height: 10rem;
    width:30rem;
    background-color: white;
    opacity: 0.6;
    border-radius: 80%;
}
.link:link {
    text-decoration: none; }
.link {
    color:#393e46; }
.link:hover {
    cursor: pointer;
    color:grey; } 

  