.section{
    height: 60rem;
    margin: 3rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#section1{
    background-image: url("./img/shoes.jpg");
}
#section2{
    background-image: url("./img/city.jpg");
}
#section3{
    background-image: url("./img/lake.jpg");
}
#section4{
    background-image: url("./img/bullon.jpg");
}

.more{
    margin:2rem;
}